$colorPrimary: #673ab7;
$colorPrimaryDark: #512da8;
$navDrawerWidth: 256px;

body {
  font-family: 'Noto Sans', sans-serif;
}
.navigation_drawer_toolbar {
  background: $colorPrimaryDark;
  color: white;
  font-family: 'Leckerli One', cursive;
  font-size: 20pt;
}
core-scaffold::shadow core-toolbar {
  background: $colorPrimary;
  font-family: 'Noto Sans', sans-serif;
  color: white;
}
.drawer_username {
  color: #ffffff;
  z-index: 1;
  padding-left: 16px;
  font-size: 14pt;
}
.drawer-dropdown-btn {
  color: #ffffff;
  margin: auto;
  margin-right: 16px;
}

core-scaffold core-toolbar {
  background: $colorPrimary;
  font-family: 'Noto Sans', sans-serif;
  color: white;
}

#header_panel {
  width: $navDrawerWidth;
}

#avatar {
  width: $navDrawerWidth;
  height: $navDrawerWidth;
}

#avatar_view {
  height: $navDrawerWidth;
}