.google-btn {
  float: right;
  position: relative;
  z-index: 1;
  margin: 24px;
  width: 246px;
  height: 54px;
  display: block;
  background: url("/images/google_sign_in.png") no-repeat 0 0;
}
.google-btn :hover {
  background-position: 0px -64px;
}
.google-btn :active {
  background-position: 0px -128px;
}