extends layout

block head
    title Welcome
    include home_elements
    link(rel='stylesheet', href='/stylesheets/home.css')
    script(src="/static/jquery.rest/dist/1/jquery.rest.min.js" async defer)
    link(href='http://fonts.googleapis.com/css?family=Leckerli+One', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Noto+Sans', rel='stylesheet', type='text/css')

block content
    template#tmpl(is='auto-binding' bind='{{user}}')
        core-scaffold
            core-header-panel#header_panel(navigation flex mode='seamed')
                core-toolbar#navheader.navigation_drawer_toolbar(horizontal center-justified layout)
                    span Listen With Me!
                div(vertical layout fit)
                    div#avatar_view(vertical layout)
                        core-image#avatar(sizing='cover', src='{{user.avatar_url}}', fit)
                        span(flex)
                        div(horizontal layout)
                            p.drawer_username.gradient-bottom {{user.name}}
                            span(flex)
                            core-icon.drawer-dropdown-btn(icon='arrow-drop-down-circle')
                    core-menu#menu(vertical layout flex selected='{{page}}', selecteditem='{{menuSelection}}' valueattr="route" on-core-select="{{selectAction}}")
                        core-item(route='history' icon='history', label='Playback history')
                        core-item(route='favorites' icon='favorite', label='Favorite songs')
                        core-item(route='playlists' icon='av:queue-music', label='Playlists')
                        span(flex)
                        core-item(route='settings' icon='settings', label='Settings')
            span(tool) {{menuSelection.label}}
            .content
                core-pages(selected="{{page}}" valueattr="route")
                    section(route="history")
                        playback-history#history(items='{{historyItems}}')
                    section(route="favorites")
                        favorite-songs#favorites(songs='{{favoriteSongs}}')
                    section(route="playlists")
                        user-playlists#playlists(playlists='{{userPlaylists}}')
                    section(route="settings")
                        user-settings#settings(user='{{user}}')
                #spinner-layout(horizontal layout center center-justified)
                    paper-spinner#spinner

    script.
        var template = document.querySelector('#tmpl');
        template.user = JSON.parse(localStorage.getItem("user"));
        template.page = 'history';

        var client = new $.RestClient('http://lwm.eu01.aws.af.cm/', {
            request: function (resource, options) {
                options['beforeSend'] = function (request)
                {
                    request.setRequestHeader("Authorization", "Bearer "+localStorage.getItem("token"));
                };
                return $.ajax(options);
            },
            stringifyData: true
        });
        client.add('me');
        client.add('history');
        client.add('favorites');
        client.add('playlists');

        template.selectAction = function (e, detail) {
            if (detail.isSelected) {
                var selectedItem = detail.item;

                switch (selectedItem.getAttribute("route")) {
                    case "history":
                        $("#spinner").attr("active", "");
                        client.history.read().done(function (data, textStatus, xhrObject) {
                            console.log(data);
                            $("#spinner").removeAttr("active");
                            template.historyItems = data;
                        });
                        break;
                    case "favorites":
                        $("#spinner").attr("active", "");
                        client.favorites.read().done(function (data, textStatus, xhrObject) {
                            console.log(data);
                            $("#spinner").removeAttr("active");
                            template.favoriteSongs = data;
                        });
                        break;
                    case "playlists":
                        $("#spinner").attr("active", "");
                        client.playlists.read().done(function (data, textStatus, xhrObject) {
                            console.log(data);
                            $("#spinner").removeAttr("active");
                            template.userPlaylists = data;
                        });
                        break;
                    case "settings":
                        //- $("#spinner").attr("active", "");
                        //- client.me.read().done(function (data, textStatus, xhrObject) {
                        //-     console.log(data);
                        //-     $("#spinner").removeAttr("active");
                        //-     template.userSettings = data.settings;
                        //- });
                        break;
                }

            }
        }

        Polymer();
