extends layout

block head
    title Welcome
    link(rel='import', href='/static/core-scaffold/core-scaffold.html')
    link(rel='import', href='/static/core-menu/core-menu.html')
    link(rel='import', href='/static/core-toolbar/core-toolbar.html')
    link(rel='import', href='/static/core-item/core-item.html')
    link(rel='import', href='/static/core-image/core-image.html')
    link(rel='import', href='/static/core-icons/av-icons.html')
    link(rel='import', href='/static/core-list/core-list.html')
    //link(rel='import', href='/components/song-card.html')
    link(rel='stylesheet', href='/stylesheets/home.css')
    link(href='http://fonts.googleapis.com/css?family=Leckerli+One', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Noto+Sans', rel='stylesheet', type='text/css')

block content
    template#tmpl(is='auto-binding' bind='{{user}}')
        core-scaffold
            core-header-panel#header_panel(navigation flex mode='seamed')
                core-toolbar#navheader.navigation_drawer_toolbar(horizontal center-justified layout)
                    span Listen With Me!
                div(vertical layout fit)
                    div#avatar_view(vertical layout)
                        core-image#avatar(sizing='cover', src='{{user.avatar_url}}', fit)
                        span(flex)
                        div(horizontal layout)
                            p.drawer_username.gradient-bottom {{user.name}}
                            span(flex)
                            core-icon.drawer-dropdown-btn(icon='arrow-drop-down-circle')
                    core-menu(vertical layout flex selected='0', selecteditem='{{menuSelection}}')
                        core-item(icon='history', label='Playback history')
                        core-item(icon='favorite', label='Favorite songs')
                        core-item(icon='av:queue-music', label='Playlists')
                        span(flex)
                        core-item(icon='settings', label='Settings')
            span(tool) {{menuSelection.label}}
            .content
                div(horizontal layout wrap style='padding: 8px;')

    script.
        var template = document.querySelector('#tmpl');
        template.user = JSON.parse(localStorage.getItem("user"));