extends layout

block head
    title Welcome
    include home_elements
    link(rel='stylesheet', href='/stylesheets/home.css')
    link(href='http://fonts.googleapis.com/css?family=Leckerli+One', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Noto+Sans', rel='stylesheet', type='text/css')

block content
    template#tmpl(is='auto-binding' bind='{{user}}')
        core-scaffold
            core-header-panel#header_panel(navigation flex mode='seamed')
                core-toolbar#navheader.navigation_drawer_toolbar(horizontal center-justified layout)
                    span Listen With Me!
                div(vertical layout fit)
                    div#avatar_view(vertical layout)
                        core-image#avatar(sizing='cover', src='{{user.avatar_url}}', fit)
                        span(flex)
                        div(horizontal layout)
                            p.drawer_username.gradient-bottom {{user.name}}
                            span(flex)
                            core-icon.drawer-dropdown-btn(icon='arrow-drop-down-circle')
                    core-menu(vertical layout flex selected='{{page}}', selecteditem='{{menuSelection}}' valueattr="route")
                        core-item(route='history' icon='history', label='Playback history')
                        core-item(route='favorites' icon='favorite', label='Favorite songs')
                        core-item(route='playlists' icon='av:queue-music', label='Playlists')
                        span(flex)
                        core-item(route='settings' icon='settings', label='Settings')
            span(tool) {{menuSelection.label}}
            .content
                div(horizontal layout wrap style='padding: 8px;')
                    core-pages(selected="{{page}}" valueattr="route")
                        section(route="history")
                            h1 Playback history
                        section(route="favorites")
                            h1 Favorite songs
                        section(route="playlists")
                            h1 Playlists
                        section(route="settings")
                            h1 Settings

    script.
        var template = document.querySelector('#tmpl');
        template.user = JSON.parse(localStorage.getItem("user"));
        template.page = 'history';