link(rel='import', href='/static/core-scaffold/core-scaffold.html')
link(rel='import', href='/static/core-menu/core-menu.html')
link(rel='import', href='/static/core-toolbar/core-toolbar.html')
link(rel='import', href='/static/core-item/core-item.html')
link(rel='import', href='/static/core-image/core-image.html')
link(rel='import', href='/static/core-icons/av-icons.html')
link(rel='import', href='/static/core-list/core-list.html')
link(rel='import', href='/static/core-pages/core-pages.html')
link(rel='import', href='/static/paper-input/paper-input.html')
link(rel='import', href='/static/paper-spinner/paper-spinner.html')

link(rel='import', href='/components/settings-card.html')
link(rel='import', href='/components/playback-history.html')
link(rel='import', href='/components/favorite-songs.html')
link(rel='import', href='/components/user-playlists.html')

include routes