extends layout

block head
    link(rel='import', href='/components/start-page-middle.html')
    link(rel='stylesheet', href='/stylesheets/index.css')

block content
    a(href="/oauth/authenticate/google" class="google-btn animated bounceInDown delayed2_25")
    start-page-middle#middle