link(rel='import' href='/static/more-routing/more-routing.html')

more-routing-config(driver="hash")

more-route(name='history' path='/history')
more-route(name='favorites' path='/favorites')
more-route(name='playlists' path='/playlists')
more-route(name='settings' path='/settings')