link(rel='import', href='/static/polymer/polymer.html')
link(rel='import', href='/static/core-animated-pages/core-animated-pages.html')
link(href='http://fonts.googleapis.com/css?family=Leckerli+One', rel='stylesheet', type='text/css')
link(href='http://fonts.googleapis.com/css?family=Noto+Sans', rel='stylesheet', type='text/css')
polymer-element(name='start-page-middle')
    template
        link(rel='stylesheet', href='/static/animate.css/animate.min.css')
        link(rel='stylesheet', href='/css/app.css')
        link(rel='stylesheet', href='/comp/start-page-middle/style.css')
        section#section(vertical layout center center-justified fullbleed)
            section#section1(horizontal layout center-justified center)
                core-animated-pages#core_animated_pages.delayed0_75.animated.fadeInLeft(transitions='cross-fade-all' notap)
                    section#screen0(active vertical layout center-justified)
                        img(src='/img/device-0-framed-400px.png' width='400px')
                    section#screen1(vertical layout center-justified)
                        img(src='/img/device-1-framed-400px.png' width='400px')
                    section#screen2(vertical layout center-justified)
                        img(src='/img/device-2-framed-400px.png' width='400px')
                section#section5(vertical layout center center-justified)
                    img#img3.delayed0_25.animated.bounceInDown(src='/images/web_hi_res_256px.png' width='256px' height='256px')
                    section#section6(vertical layout center center-justified)
                        section#title.delayed0_5.animated.bounceInRight Listen With Me!
                        section#subtitle.delayed0_75.animated.bounceInUp Your local Wi-Fi radio
                    a#a.delayed1.animated.zoomInUp(href='https://play.google.com/store/apps/details?id=com.lwm.app')
                        img#img4(alt='Get it on Google Play' src='/images/en_generic_rgb_wo_60.png')
    script.
        Polymer({
            switchPhoneScreen: function () {
                var p = this.$.core_animated_pages;
                p.selected += 1;
                p.selected = p.selected % 3;
                this.async(this.switchPhoneScreen, null, 1000);
            },
            ready: function() {
                this.async(this.switchPhoneScreen, null, 1000);
            }
        });
